<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.edu.seu.cose.docmanage.mapper.EntryMapper">

    <select id="insertEntry">
        insert dm_entry(id, name, description) VALUE (#{id}, #{name}, #{description})
    </select>

    <select id="deleteEntry">
        delete from dm_entry where id in
        <foreach collection="entryIdList" open="(" close=")" separator="," item="item">
            #{item}
        </foreach>
    </select>

    <select id="updateEntry">
        update dm_entry
        set name       = #{name},
            description=#{description}
        where id = #{id}
    </select>

    <select id="findEntryPage" resultType="Entry">
        select *
        from dm_entry
        <if test="searchKey != null and searchKey != ''">
            <where>
                <choose>
                    <when test="searchKey == 'name' and searchValue != null">
                        and dm_entry.name like CONCAT('%', #{searchValue}, '%')
                    </when>
                    <when test="searchKey == 'description' and searchValue != null">
                        and dm_entry.description like CONCAT('%', #{searchValue}, '%')
                    </when>
                </choose>
            </where>
        </if>
    </select>
    
    <select id="findEntryById" resultType="Entry">
        select *
        from dm_entry
        where id = #{id}
    </select>

    <select id="findEntriesByNames" resultType="Entry">
        select * from dm_entry
        where name in
        <foreach collection="names" open="(" close=")" separator="," item="item">
            #{item}
        </foreach>
    </select>

    <select id="findJournalIds" resultType="java.util.UUID">
        select journal_id from dm_entry_journal
        where entry_id = #{id}
    </select>

    <select id="findPaperIds" resultType="java.util.UUID">
        select paper_id from dm_entry_paper
        where entry_id = #{id}
    </select>
</mapper>