<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.edu.seu.cose.docmanage.mapper.EntryMapper">

    <select id="insertEntry">
        insert dm_entry(id,name,description) VALUE (#{id},#{name},#{description})
    </select>

    <select id="deleteEntry">
        delete from dm_entry  where id in
        <foreach collection="entryIdList" open="(" close=")" separator="," item="item">
            #{item}
        </foreach>
    </select>

    <select id="updateEntry">
        update dm_entry
        set name = #{name},description=#{description}
        where id = #{id}
    </select>

    <select id="findEntryPage" resultType="Entry">
        select *
        from dm_entry
        <where>
            <choose>
                <when test="searchKey == 'title' and searchValue != null">
                    and dm_entry.title like CONCAT('%', #{searchValue}, '%')
                </when>
                <when test="searchKey == 'description' and searchValue != null">
                    and dm_entry.description like CONCAT('%', #{searchValue}, '%')
                </when>
            </choose>
        </where>
    </select>

</mapper>