<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.edu.seu.cose.docmanage.mapper.JournalMapper">

    <insert id="insertJournal">
        insert dm_journal(id, title, organizer_office, image, language, issn) value (
                                                                                     #{id},
                                                                                     #{title},
                                                                                     #{organizerOffice},
                                                                                     #{image},
                                                                                     #{language},
                                                                                     #{issn}
            )
    </insert>

    <update id="updateJournal">
        update dm_journal
        set title            = #{title},
            organizer_office = #{organizerOffice},
            image= #{image},
            language         = #{language},
            issn             = #{issn}

        where id = #{id}
    </update>

    <select id="findJournalPage" resultType="Journal">
        select *
        from dm_journal
        <if test="searchKey != null and searchKey != ''">
            <where>
                <choose>
                    <when test="searchKey == 'title' and searchValue != null">
                        and dm_journal.title like CONCAT('%', #{searchValue}, '%')
                    </when>
                    <when test="searchKey == 'organizer_office' and searchValue != null">
                        and dm_journal.organizer_office like CONCAT('%', #{searchValue}, '%')
                    </when>
                    <when test="searchKey == 'issn' and searchValue != null">
                        and dm_journal.issn like CONCAT('%', #{searchValue}, '%')
                    </when>
                </choose>
            </where>
        </if>
    </select>

    <delete id="deleteJournals">
        delete from dm_journal where id in
        <foreach collection="journalIds" open="(" close=")" separator="," item="item">
            #{item}
        </foreach>
    </delete>

    <select id="findEntries" resultType="Entry">
        select *
        from dm_entry
                 inner join dm_entry_journal dep on dm_entry.id = dep.entry_id and dep.journal_id = #{journalId}
    </select>

    <insert id="bindEntry">
        insert into dm_entry_journal(id, entry_id, journal_id) VALUE (#{id}, #{entryId}, #{journalId})
    </insert>

    <delete id="removeAllEntries">
        delete
        from dm_entry_journal
        where journal_id = #{journalId}
    </delete>

    <select id="findJournalIdByTitle" resultType="java.util.UUID">
        select id
        from dm_journal
        where title = #{title}
    </select>

    <select id="findJournalById" resultType="Journal">
        select *
        from dm_journal
        where id = #{id}
    </select>
</mapper>