<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.edu.seu.cose.docmanage.mapper.PaperMapper">


    <insert id="insertPaper">
        insert dm_paper(id, abstract, title, keyword, author, author_office, journal_id, publish_time)
        VALUE (#{id}, #{paperAbstract}, #{title}, #{keyword}, #{author}, #{authorOffice}, #{journalId}, #{publishTime});
    </insert>


    <update id="updatePaper">
        update dm_paper
        set abstract = #{paperAbstract},
            title = #{title},
            keyword = #{keyword},
            author = #{author},
            author_office = #{authorOffice},
            journal_id = #{journalId},
            publish_time = #{publishTime}
        where id = #{id}
    </update>

    <delete id="deleteSpecifiedPaper">
        delete from dm_paper
        where id = #{id}
    </delete>

    <delete id="deleteAllPapers">
        delete from dm_paper where id in
        <foreach collection="ids" open="(" close=")" separator="," item="item">
            #{item}
        </foreach>
    </delete>
</mapper>