<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.edu.seu.cose.docmanage.mapper.PaperMapper">


    <insert id="insertPaper">
        insert dm_paper(id, abstract, title, keyword, author, author_office, journal_id, publish_time,url)
            VALUE (#{id}, #{paperAbstract}, #{title}, #{keyword}, #{author}, #{authorOffice}, #{journalId},
                   #{publishTime},#{url});
    </insert>

    <select id="findPaperById" resultType="Paper">
        select *, abstract as 'paperAbstract'
        from dm_paper
        where id = #{id}
    </select>


    <update id="updatePaper">
        update dm_paper
        set abstract      = #{paperAbstract},
            title         = #{title},
            keyword       = #{keyword},
            author        = #{author},
            author_office = #{authorOffice},
            journal_id    = #{journalId},
            publish_time  = #{publishTime},
            url=#{url}
        where id = #{id}
    </update>

    <delete id="deleteSpecifiedPaper">
        delete from dm_paper where id in
        <foreach collection="id" open="(" close=")" separator="," item="item">
            #{item}
        </foreach>

    </delete>

    <delete id="removeAllEntries">
        delete
        from dm_entry_paper
        where paper_id = #{paperId}
    </delete>

    <select id="findEntries" resultType="Entry">
        select *
        from dm_entry
                 inner join dm_entry_paper dep on dm_entry.id = dep.entry_id and dep.paper_id = #{paperId}
    </select>

    <insert id="bindEntry">
        insert into dm_entry_paper(id, entry_id, paper_id) VALUE (#{id}, #{entryId}, #{paperId})
    </insert>

    <delete id="deleteAllPapers">
        delete from dm_paper where id in
        <foreach collection="ids" open="(" close=")" separator="," item="item">
            #{item}
        </foreach>
    </delete>

    <select id="findNewPapers" resultType="Paper">
        select *,
               dp.abstract as 'paperAbstract'
        from dm_paper dp order by dp.publish_time desc
    </select>


    <select id="findPaperPage" resultType="Paper">
        select *, abstract as 'paperAbstract'
        from dm_paper
        <if test="searchKey != null and searchKey != ''">
            <where>
                <choose>
                    <when test="searchKey == 'title' and searchValue != null">
                        and dm_paper.title like CONCAT('%', #{searchValue}, '%')
                    </when>
                    <when test="searchKey == 'author' and searchValue != null">
                        and dm_paper.author like CONCAT('%', #{searchValue}, '%')
                    </when>
                    <when test="searchKey == 'author_office' and searchValue != null">
                        and dm_paper.author_office like CONCAT('%', #{searchValue}, '%')
                    </when>
                    <when test="keyword == 'keyword' and searchValue != null">
                        and dm_paper.keyword like CONCAT('%', #{searchValue}, '%')
                    </when>
                    <when test="keyword == 'abstract' and searchValue != null">
                        and dm_paper.abstract like CONCAT('%', #{searchValue}, '%')
                    </when>
                </choose>
            </where>
        </if>
    </select>

    <select id="findPaperPageByJournalId" resultType="Paper">
        select *, abstract as 'paperAbstract'
        from dm_paper
        where journal_id=#{id}
    </select>
</mapper>