<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.edu.seu.cose.docmanage.mapper.SystemMapper">

    <select id="findAnnouncement" resultType="Announcement">
        select *
        from dm_announcement
    </select>
    
    <select id="insertAnnouncement">
        insert dm_announcement(id,content,publisher_id,publish_time) VALUE (#{id},#{content},#{publisherId},#{publishTime})
    </select>
    
    <select id="deleteAnnouncement">
        delete from dm_announcement  where id in
        <foreach collection="announcementIdList" open="(" close=")" separator="," item="item">
            #{item}
        </foreach>
    </select>

    <select id="findNewAnnouncement" resultType="Announcement">
        select da.content as 'content'
        from dm_announcement da order by da.publish_time desc
    </select>


</mapper>