<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.edu.seu.cose.docmanage.mapper.UserMapper">

    <select id="findRolesByUser" resultType="Role">
        select dr.*
        from dm_user_role dur
                 left join dm_role dr on dr.id = dur.role_id
        where user_id = #{id}
    </select>

    <resultMap id="userResultMap" type="User">
        <id property="id" column="user_id"/>
        <result property="username" column="user_name"/>
        <result property="password" column="user_password"/>
        <collection property="roles" column="user_id" ofType="Role" select="findRolesByUser"/>
    </resultMap>

    <select id="findAllUsers" resultMap="userResultMap">
        select du.id       as 'user_id',
               du.username as 'user_name',
               du.password as 'user_password'
        from dm_user du
    </select>

    <select id="findUserPage" resultMap="userResultMap">
        select du.id as 'user_id',
        du.username as 'user_name',
        du.password as 'user_password'
        from dm_user du
        <if test="searchKey == 'username' and searchValue != null">
            where du.username like CONCAT('%', #{searchValue}, '%')
        </if>
    </select>

    <select id="findUserByUsername" resultMap="userResultMap">
        select du.id       as 'user_id',
               du.username as 'user_name',
               du.password as 'user_password'
        from dm_user du
        where username = #{username}
    </select>

    <insert id="insertUser">
        insert dm_user(id, username, password) VALUE (#{id}, #{username}, #{password});
    </insert>

    <insert id="bindRoles">
        insert dm_user_role(id, user_id, role_id) (
        select REPLACE(UUID(), '-', ''), #{userId}, id
        from dm_role where dm_role.name in
        <foreach collection="roleNames" open="(" close=")" separator="," item="item">
            #{item}
        </foreach>
        )
    </insert>

    <update id="updatePasswordByUserId">
        update dm_user
        set password = #{encodedPassword}
        where id = #{userId}
    </update>

    <delete id="deleteUsers">
        delete from dm_user where id in
        <foreach collection="userIds" open="(" close=")" separator="," item="item">
            #{item}
        </foreach>
    </delete>

    <delete id="deleteAllRoles">
        delete
        from dm_user_role
        where user_id = #{userId}
    </delete>

    <update id="updateUser" parameterType="User">
        update dm_user
        set username = #{username},
            password = #{password}
        where id = #{id}
    </update>
    
    <select id="findUserCollection" resultType="UserCollectionMap">
        select dc.*
        from dm_collection dc
        where user_id = #{userId}
    </select>

    <select id="findUserCollectionPage" resultType="Paper">
        select *
        from dm_paper
                 right join dm_collection dc on dm_paper.id = dc.paper_id and dc.user_id = #{userId}
    </select>

    <select id="findUserSubscriptionPage" resultType="Paper">
        select *
        from dm_journal
                 right join dm_subscription ds on dm_journal.id = ds.journal_id and ds.user_id = ${userId}
    </select>


</mapper>