.admin-data-header {
  display: flex;
  justify-content: space-between;

  & > * {
    margin-right: 10px !important;
  }

  & > *:last-child {
    margin-right: 0;
  }
}

.admin-data-jump-form {
  padding: 0 10px;
  line-height: 40px;
}
