.entry-wrapper {
  max-width     : 60%;
  margin        : 0 auto;
  display       : flex;
  flex-direction: column;

  .footer-wrapper,
  .main-wrapper {
    padding         : 30px;
  }

  .main-wrapper {
    margin-bottom: 20px;

    .title {
      font-size: 48px;
      color    : #4193d5;
    }

    .description {
      margin   : 0 30px;
      font-size: 20px;
    }
  }

  .footer-wrapper {

    .title {
      font-size: 28px;
      color    : #4193d5;
      margin-bottom: 30px;
    }

    .box-wrapper {
      display        : flex;
      justify-content: space-around;

      .box {
        border-radius   : 10px;
        flex            : 0 1 20%;
        background-color: #f2f2f2;
        height          : 350px;
        transition      : all 0.5s;
        position        : relative;
        top             : 0px;
      }

      .box:hover {
        cursor          : pointer;
        position        : relative;
        top             : -20px;
        background-color: #5e5959d8;
      }
    }

  }
}