.segment-wrapper {
  width: 70%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;

  .segment {
    margin: 0 0;
    width: 50%;

    & > .header {
      font-size: 1.5em;
    }

    .item {
      margin-bottom: 10px;
    }
  }
}