.segment-wrapper {
  width: 70%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;

  .segment {
    margin: 0 0;
    width: 50%;

    & > .header {
      font-size: 1.5em;
    }

    .item {
      margin-bottom: 10px;

      .description {
        word-break:break-all;
        display:-webkit-box;/**对象作为伸缩盒子模型展示**/
        -webkit-box-orient:vertical;/**设置或检索伸缩盒子对象的子元素的排列方式**/
        -webkit-line-clamp:3;/**显示的行数**/
        overflow:hidden;/**隐藏超出的内容**/
      }
    }
  }
}