.user-password-wrapper {
  position: absolute;
  top: 55px;
  right: 0;
  left: 231px;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  .segment {
    width: 520px;
  }
}